<style>
    .footer-copyright {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        color: black;
    }
    .footer-icon {
        width: 18px;
        height: 18px;
    }
</style>

<div class="footer-copyright">
    <img src="/icon.svg" alt="Lexiconic Icon" class="footer-icon">
    © 2025 Lexiconic
</div>

</body>
</html>