<!-- Partials Allow For Modularity -->

<head>
    <!-- ----- Core (General)  ----- -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lorenzo Satta Chiris">

    <!-- ----- Core (Website)  ----- -->
    <link rel="icon" type="image/png" sizes="16x16" href="icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icon.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="icon.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="icon.png" />
    <link rel="icon" type="image/png" sizes="180x180" href="icon.png" />
    <link rel="icon" type="image/svg+xml" href="icon.svg" />

    <title data-react-helmet="true"><%= title %></title>
    <meta data-react-helmet="true" name="description" content="<%= metaDescription %>" />

    <!-- ----- Indexing and SEO  ----- -->
    <meta name="robots" content="index, follow" />

    <!-- ----- Social Media  ----- -->
    <meta property="og:title" content="#" />
    <meta property="og:description" content="<%= metaDescription %>" />
    <meta property="og:image" content="image_url">

    <!-- ----- Styling (CSS) ----- -->
    <link rel="stylesheet" href="fonts.css" type="text/css" />
    <link rel="stylesheet" href="brand.css" type="text/css" />
    <link rel="stylesheet" href="<%= css %>" type="text/css" />
</head>

<style>
    .fixed-logo {
        position: fixed;
        top: 10px;
        right: 20px;
        width: 64px;
        height: 64px;
        z-index: 1000;
    }

    @media (max-width: 768px) {
        .fixed-logo {
            display: none;
        }
    }
</style>
<img src="/logo.svg" alt="Logo" class="fixed-logo">

<body>